/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
body {
    background: #333;
}
.main_wrapper {
    height: 562px;
    width: 736px;
    background: #222;
    margin: 50px auto;
    overflow: hidden;
}
.main_wrapper .box {
    height: 600px;
    width: 594px;
    margin: auto;
    overflow: hidden;
}
.main_wrapper .box .building {
    height: 245px;
    width: 186px;
    background: #fff;
    margin-top: 27px;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    float: left;
}
.main_wrapper .box .building .picture {
    height: 112px;   
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.main_wrapper .box .building .picture img {
    width: 100%;
}
.main_wrapper .box .building .icon {
    height: 35px;
    background: #fff;
    overflow: hidden;
    clear: both;
}
.main_wrapper .box .building .icon .container {
    overflow: hidden;
    clear: both;
    height: 30px;
    width: 55px;
    float: left;
}
.main_wrapper .box .building .icon .container span {
    font-size: 8px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 2px;
    margin: 12px 0 0 16px;
    background: #DF92FA;
    float: left;
    height: 15px;
    width: 33px;
    text-align: center;
    line-height: 15px;
}
.main_wrapper .box .building .icon .camera {
    clear: both;
    overflow: hidden;
    height: 30px;
    width: 30px;
    float: right;
    position: absolute;
    margin-left: 55px;
}
.main_wrapper .box .building .icon .camera i {
    padding: 12px 0 0 5px;
}
.main_wrapper .box .building .headline p {
    font-size: 12px;
    font-weight: bold;
    margin: 6px 0 0 16px;
    clear: both;
    overflow: hidden;
}
.main_wrapper .box .building .text {
    font-size: 11px;
    color: #A2A2A2;
    margin: 15px 0 20px 16px;
    font-weight: bold;
    font-family: 'Amaranth', serif; 
}
.main_wrapper .box .proverb {
    height: 245px;
    width: 186px;
    background: #692ED4;
    border-radius: 5px;
    margin: 25px 0 0 215px;
    clear: both;
    overflow: hidden;
    float: right;
    position: absolute;
    
}
.main_wrapper .box .proverb .headline p {
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    margin: 25px 0 0 20px;
}
.main_wrapper .box .proverb .content p {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin: 10px 0 0 20px;
}
.main_wrapper .box .proverb .date {
    height: 60px;
    width: 186px;
    border-bottom: 1px solid #A46FFA;
}
.main_wrapper .box .proverb .date i {
    margin: 15 0 0 24px;
    float: left;
    font-size: small;
    color: #A46FFA;
}
.main_wrapper .box .proverb .date p {
    width: 120px;
    float: right;
    margin: 18px 25px 0 0;
    font-size: 8px;
    color: #A46FFA;
}
.main_wrapper .box .proverb .avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #111;
    margin: 10px 0 0 30px;
    float: left;
}
.main_wrapper .box .proverb .signature {
    width: 120px;
    float: right;
}
.main_wrapper .box .proverb .signature .prefix p {
    font-size: 9px;
    color: #A46FFA;
    margin: 10px 50px 0 0;
}
.main_wrapper .box .proverb .signature .name p {
    font-size: 10px;
    color: #fff;
    margin-top: 3px;
}
.main_wrapper .box .shop {
    height: 245px;
    width: 186px;
    background: #fff;
    margin-top: 27px;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    float: right;
    position: absolute;
    margin: 27px 0 0 430px;
}
.main_wrapper .box .shop .headline p {
    height: 10px;
    width: 30px;
    font-size: 10px;
    color: red;
    border: 1px solid #7FDCC7;
    margin: 15px 0 0 80px;
    text-align: center;
    border-radius: 3px;
    background: #7FDCC7;
    color: #fff;
}
.main_wrapper .box .shop .picture {
    height: 100px;
    overflow: hidden;
}
.main_wrapper .box .shop .picture img {
    line-height: 100px;
    height: 100px;
    margin-left: 40px;
}
.main_wrapper .box .shop .name p {
    color: #9B9B9B;
    font-weight: bold;
    font-size: 10px;
    margin-left: 75px;
}
.main_wrapper .box .shop .content p {
    font-family: 'Allan', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    height: 45px;
    border-bottom: 1px solid #F6F6F6;
}
.main_wrapper .box .shop .footer {
    height: 60px;
    width: 185px;
    clear: both;
    overflow: hidden;
    background: #F6F6F6;
}
.main_wrapper .box .shop .border {
    height: 25px;
    width: 120px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 15px;
}
.main_wrapper .box .shop .price {
    width: 40px;
    float: left;
}
.main_wrapper .box .shop .price p {
    color: #7897CE;
    font-size: 13px;
    border-right: 1px solid black;
    height: 21px;
    text-align: center;
    padding-top: 5px;
}
.main_wrapper .box .shop .information {
    width: 75px;
    float: right;
}
.main_wrapper .box .shop .information p {
    font-size: 10px;
    font-weight: bold;
    margin: 7px 0 0 10px;
    
}
.main_wrapper .box .title {
    height: 245px;
    width: 186px;
    background: #0069DC;
    margin-top: 27px;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    float: left;
}
.main_wrapper .box .title .headline {
    height: 30px;
}
.main_wrapper .box .title .headline p {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    margin: 25px 0 0 73px;
}
.main_wrapper .box .title .content {
    height: 70px;
}
.main_wrapper .box .title .content p {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-left: 25px;
}
.main_wrapper .box .title .story {
    height: 80px;
}
.main_wrapper .box .title .story p {
    font-size: 13px;
    font-weight: lighter;
    color: #53A3FA;
    margin-left: 25px;
}
.main_wrapper .box .title .story span {
    font-size: 13px;
    font-weight: lighter;
    color: #53A3FA;
    margin-left: 65px;
}
.main_wrapper .box .title .footer {
    height: 25px;
    width: 100px;
    border: 1px solid #53A3FA;
    margin: auto;
    border-radius: 30px;
}
.main_wrapper .box .title .footer p {
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    margin-top: 7px;
}
.main_wrapper .box .list {
    height: 245px;
    width: 186px;
    background: #fff;
    margin: 300px 0 0 215px;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    float: right;
    position: absolute;
}
.main_wrapper .box .list .icon {
    width: 40px;
}
.main_wrapper .box .list .icon i {
    color: #CBCBCB;
    margin: 18px 0 0 20px;
    float: left;
}
.main_wrapper .box .list .headline {
    width: 100px;
    height: 60px;
}
.main_wrapper .box .list .headline p {
    color: #111;
    font-size: 12px;
    font-weight: bold;
    margin: 22px 0 0 50px;
    position: absolute;
    float: right;
}
.main_wrapper .box .list .music {
    height: 30px;
}
.main_wrapper .box .list .music i {
    color: #6D4CBD;
    font-size: 18px;
    margin: 5 0 0 19px;
    float: left;
}
.main_wrapper .box .list .music p {
    width: 60px;
    float: right;
    margin: 10px 80px 0 0;
    font-size: 9px;
    font-weight: bold;
    color: #9A9A9A;
}
.main_wrapper .box .list .people {
    height: 30px;
}
.main_wrapper .box .list .people i {
    color: #B8684F;
    font-size: 18px;
    margin: 10px 0 0 19px;
    float: left;
}
.main_wrapper .box .list .people p {
    width: 50px;
    float: right;
    font-size: 9px;
    font-weight: bold;
    color: #9A9A9A;
    margin: 15px 90px 0 0;
}
.main_wrapper .box .list .watches {
    height: 30px;
}
.main_wrapper .box .list .watches i {
    color: #326077;
    font-size: 18px;
    margin: 13px 0 0 19px;
    float: left;
}
.main_wrapper .box .list .watches p {
    width: 50px;
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: #9A9A9A;
    margin: 15px 90px 0 0;
}
.main_wrapper .box .list .cinema {
    height: 40px;
}
.main_wrapper .box .list .cinema i {
    color: #D9CE52;
    font-size: 18px;
    margin: 19px 0 0 -15px;
    float: left;
}
.main_wrapper .box .list .cinema p {
    width: 50px;
    float: right;
    font-size: 13px;
    font-weight: bold;
    color: #9A9A9A;
    margin: 22px 90px 0 0;
}
.main_wrapper .box .list .gear {
    height: 35px;
}
.main_wrapper .box .list .gear i {
    color: #D4B3E0;
    font-size: 18px;
    margin: 15px 0 0 19px;
    float: left;
}
.main_wrapper .box .list .gear p {
    width: 50px;
    float: right;
    font-size: 13px;
    font-weight: bold;
    color: #9A9A9A;
    margin: 16px 90px 0 0;
}
.main_wrapper .box .citation {
    height: 245px;
    width: 186px;
    background: #fff;
    margin: 300px 0 0 430px;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    float: right;
    position: absolute;
    background: #88DCCC;
}
.main_wrapper .box .citation .headline {
    height: 45px;
    border-bottom: 1px solid #5AA497;
    clear: both;
    overflow: hidden;
}
.main_wrapper .box .citation .headline p {
    color: #589E93;
    width: 45px;
    font-weight: bold;
    font-size: 12px;
    margin: 18px 0 0 75px;
    float: left;
}
.main_wrapper .box .citation .headline i {
    margin: 15px 18px 0 0;
    float: right;
    color: #3F8B7E;
}
.main_wrapper .box .citation .sign {
    height: 45px;
}
.main_wrapper .box .citation .sign i {
    color: #fff;
    margin: 20px 0 0 85px;
}
.main_wrapper .box .citation .content {
    height: 95px;
    clear: both;
    overflow: hidden;
}
.main_wrapper .box .citation .content p {
    color: #297062;
    text-align: center;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}
.main_wrapper .box .citation .footer .author p {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #2C7063;
    margin-top: 10px;
}
.main_wrapper .box .citation .footer .profession p {
    font-size: 10px;
    text-align: center;
    color: #2C7063;
    font-family: 'Open Sans Condensed', sans-serif;
}