/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
body {
background: #333;
}
.main_wrapper {
    height: 552px;
    width: 736px;
    background: #222;
    margin: auto;
    overflow: hidden;
}
.main_wrapper .building {
    height: 245px;
    width: 186px;
    background: #fff;
    margin: 27px 0 0 72px;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
}
.main_wrapper .building .picture {
    height: 112px;   
    border-bottom: 1px solid #ddd;
}
.main_wrapper .building .icon {
    height: 35px;
    background: #fff;
    overflow: hidden;
    clear: both;
}
.main_wrapper .building .icon .container {
    overflow: hidden;
    clear: both;
    height: 30px;
    width: 55px;
    float: left;
}
.main_wrapper .building .icon .container span {
    font-size: 8px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 2px;
    margin: 12px 0 0 16px;
    background: #DF92FA;
    float: left;
    height: 15px;
    width: 33px;
    text-align: center;
}
.main_wrapper .building .icon .camera {
    clear: both;
    overflow: hidden;
    height: 30px;
    width: 30px;
    float: right;
    position: absolute;
    margin-left: 55px;
}
.main_wrapper .building .icon .camera i {
    padding: 12px 0 0 5px;
}
.main_wrapper .building .headline p {
    font-size: 12px;
    font-weight: bold;
    margin: 6px 0 0 16px;
    clear: both;
    overflow: hidden;
}
.main_wrapper .building .text {
    font-size: 11px;
    color: #A2A2A2;
    margin: 15px 0 20px 16px;
    font-weight: bold;
    p: { font-family: 'Amaranth', serif; }
}
